<!DOCTYPE html>
<html lang="en">
    <head>
        <title>W&ouml;rterbuch</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />

        <!-- google font import -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

        <!-- local imports -->
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/favicon.ico">
        <script src="/main.js"></script>
    </head>

    <body onload="init()">
        <div class="slider-container">
            <div class="slider-button" id="sliderButton"></div>
            <div class="slider-cap slider-start"></div>
            <div class="slider-line"></div>
            <div class="slider-cap slider-end"></div>
        </div>
        <div class="wrapper">
            <div class="word-wrapper" id="wordWrapper">
                <h1 class="word" id="word">{{wort}}</h1>
                {{#if genus}}
                    <h4 class="word-subtitle">{{wortart}}, {{genus}} ({{sprache}})</h4>
                {{else}}
                    <h4 class="word-subtitle">{{wortart}} ({{sprache}})</h4>
                {{/if}}
            </div>
            <div class="definitions-wrapper" id="defs">
                <ol class="definitions">
                    {{#each bedeutungen}}
                        <li><p>{{{this}}}</p></li>
                    {{/each}}
                </ol>
            </div>

            <div class="wordlist-wrapper">
                <!--
                Pfingstvögel
                Pfingstwoche
                Pfingstzeit
                Pfinztag
                Pfirsich
                Pfirsichbaumes
                Pfirsichblüte
                -->
                <h1 class="word d2" id="wordScrollPrev2"></h1>
                <h1 class="word d1" id="wordScrollPrev1"></h1>
                <h1 class="word d0" id="wordScrollMain"></h1>
                <h1 class="word d1" id="wordScrollNext1"></h1>
                <h1 class="word d2" id="wordScrollNext2"></h1>
            </div>
        </div>
        <!--<div class="letter-slider-container">
            <input type="range" orient="vertical" id="letterSlider" class="letter-slider">
        </div>-->
    </body>
</html>